form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  max-width: 900px;
  margin: 15px auto;
  padding: 0 20px;
  font-size: 16px;
}

.input-container {
  height: 35px;
}

.search-bar input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px 5px;
  width: 80px;
  font-size: inherit;
  height: inherit;
}

.search-bar .inputDate {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px 5px;
  width: 160px;
  height: inherit;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.search-bar select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: inherit;
  height: inherit;
}

select:hover, input:hover, .inputDate:hover {
  border-color: rgba(0, 0, 0, .87)
}

.input-container label {
  padding: 0 10px;
}

.search-bar button {
  height: inherit;
  padding: 0 10px;
  background-color: #0b3d91;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.search-bar button:hover {
  opacity: .8;
}

.search-bar button:focus {
  background-color: #0f4aad;
}

.search-bar button span {
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .search-bar {
    display: inline-table;
    width: 100%;
    font: inherit;
    font-size: 18px;
  }

  .search-bar .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 44px;
    margin: 12px 0;
  }

  .search-bar .input-container label {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    height: inherit;
  }

  .search-bar .input-container input, .search-bar .input-container .inputDate {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: inherit;
  }

  .search-bar .input-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: inherit;
  }

  .search-bar button {
    padding: 0 12px;
    background-color: #0b3d91;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    height: inherit;
  }
}
