h1 {
  padding: 0 0 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

.main {
  display: grid;
  max-width: 900px;
  margin: 10px auto 0;
}

.bottom-info {
  padding-bottom: 25px;
}

.image {
  width: 100%;
  height: 17rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.photo-list {
  padding: 5px;
  text-align: center;
}

.photo-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 10px;
  float: left;
  width: 33%;
}

.photo-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.sidenav {
  display: inline;
  position: fixed;
  right: -8.4rem;
  bottom: 2rem;
  transition: 0.3s;
  z-index: 1;
}

.sidenav:hover {
  right: 0;
}

.sidenav button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #0b3d91;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.sidenav button:hover {
  opacity: 0.7;
}

.photo-list img {
  width: 100%;
  max-width: 620px;
  max-height: 200px;
  height: auto;
  border: 0;
}

@media screen and (max-width: 600px) {
  .main {
    display: grid;
    max-width: 700px;
    margin: 10px auto 0;
  }

  .photo-list {
    margin: 10px auto 0;
    padding: 0 20px;
    text-align: center;
  }

  .photo-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .sidenav {
    display: inline;
    position: fixed;
    right: -6.9rem;
    bottom: 2rem;
    transition: 0.3s;
    z-index: 1;
  }

  .sidenav button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #0b3d91;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}
